# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.venv/

# Node
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# PostgreSQL data
pgdata/ 